
.custom-navbar {
    background-color: navy;
    color: #fff;
    /* Autres styles personnalisés */
  }
  
  .custom-sidebar {
    background-color: navy;
    color: #fff;
    /* Autres styles personnalisés */
  }
  
  .custom-nav-link {
    color: #fff;
    /* Autres styles personnalisés */
  }
  
  .custom-menu-icon {
    color: #fff;
    /* Autres styles personnalisés */
  }
  
  .custom-menu-title {
    color: #fff;
    /* Autres styles personnalisés */
  }
  