<div class="patient-details">
    <h2 class="title">Détails du Patient</h2>
    <div class="container">
      <div class="section">
        <div class="info-item">
          <h2>Informations Patient</h2>
          <p><strong>Nom :</strong> iheb</p>
          <p><strong>Prénom :</strong>saidi</p>
          <p><strong>Date de naissance :</strong> 16/08/200</p>
          <p><strong>Adresse :</strong> ariana</p>
          <p><strong>Tél (1):</strong> 1234568</p> 
          <p><strong>Tél (2):</strong> 1234568</p> 
          <p><strong>N° Sécurité Sociale:</strong> 1234568</p> 
          <p><strong>Caisse :</strong> 1234568</p> 
          <p><strong>Taille: :</strong> 1234568</p> 
          <p><strong>Poids:</strong> 1234568</p>
          <p><strong>Profession :</strong> 1234568</p>  
        </div>
      </div>
      <div class="section">
        <div class="info-item">
          <h2>Médecin Traitant</h2>
          <p><strong>Nom :</strong> faouzi ben salem</p>
          <p><strong>Spécialité :</strong> generaliste</p>
          <p><strong>Adresse :</strong> ariana</p>
          <p><strong>Téléphone :</strong> 12345678</p>
        </div>
      </div>
      <div class="section">
        <div class="info-item">
          <h2>Suivis</h2>
          <p><strong>Date d’enregistrement :</strong> 18/07/2023</p>
          <p><strong>IAH :</strong> 15</p>
          <p><strong>Date d’installation du CPAP :</strong> 14/082014</p>
          <p><strong>Dates d’observances pour 7 jours :</strong> 255</p>
          <p><strong>Dates d’observances pour 1 mois :</strong> 666</p>
          <p><strong>Dates d’observances pour 2 mois :</strong> 665</p>
          <p><strong>Dates d’observances pour 3 mois :</strong> 587</p>
        </div>
      </div>
      <div class="section">
        <div class="info-item">
          <h2>Dossier Administratif</h2>
          <p><strong>Accord CNAM :</strong> 4546</p>
          <p><strong>N° BL :</strong>5445</p>
          <p><strong>Date B.L :</strong> 7879</p>
          <p><strong>N° Facture :</strong> 464</p>
          <p><strong>Date Facture :</strong> 666</p>
          <p><strong>Télécharger un fichier :</strong> <a href="#">Fichier PDF</a></p>
        </div>
      </div>
    </div>
    <div class="back-button">
      <a routerLink="/liste_information"><i class="fas fa-arrow-left"></i> Retour</a>
    </div>
  </div>
  