.custom-navbar {
    background-color: #001f3f; 
    color: #fff; 
  }
  
  .custom-nav-link {
    color: #fff; 
  }
  
  .custom-navbar-toggler, .custom-navbar-toggler-right {
    color: #fff; 
  }
  
  .custom-page-body-wrapper {
    background-color: #001f3f; 
    color: #fff; 
  }
  